.form-field {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.form-field input,
.form-field select {
  padding: 10px;
  border: 0px;
  background-color: #e3f3fa;
  border-radius: 5px;
}

.form-field label {
  color: whitesmoke;
  margin-bottom: 5px;
}

.password-field {
  position: relative;
}

.password-field input {
  box-sizing: border-box;
  width: 100%;
}

.password-field .eye-icon {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
}

.white-link {
  color: yellowgreen;
  text-decoration: underline;
}

.error-alert {
  width: 100%;
  height: 30px;
  font-size: 0.9rem;
  background-color: #dc3545;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  border-radius: 5px;
}

.error-alert-closer {
  cursor: pointer;
}

/* Notebook inputs */

.nb-input {
  border: 2px solid rgb(6, 85, 103);
  color: white;
  background-color: inherit;
}

.new {
  padding: 6px;
  width: 100%;
}

.option-container {
  background-color: inherit;
  color: white;
  position: absolute;
  top: 0;
  right: -99px;
  border: none;
  /* border: 1px solid greenyellow; */
}

.option-container .option {
  background-color: inherit;
  border-bottom: 1px solid whitesmoke;
  padding: 10px 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.switch-toggle--off,
.switch-toggle--on {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 25px;
  padding: 3px;
  height: 30px;
  width: 60px;
}

.switch-toggle--off {
  background-color: #ccc;
}
.switch-toggle--on {
  background-color: rgb(10, 167, 10);
}

.toggle-circle--on,
.toggle-circle--off {
  position: absolute;
  width: 24px;
  height: 24px;
  background-color: white;
  border-radius: 50%;
  transition: all 0.5s ease-in;
}
