.settings-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #333;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  height: 50%;
  border-radius: 10px;
  border: 2px solid orange;
  color: white;
  min-width: 40%;
  width: 60%;
  overflow-y: scroll;
}

.settings-header {
  padding: 0 20px;
  display: flex;
  align-items: center;
  gap: 30px;
  border-bottom: 1px solid #ddd;
}

.settings-btn {
  color: whitesmoke;
  background-color: #ffb120;
}

.settings-btn:hover {
  background-color: #f0a110;
}

.settings-main {
  display: flex;
  margin: 15px;
  /* gap: 40px; */
  font-size: 0.9rem;
}

.settings-nav {
  border-right: 1px solid #ddd;
  padding-right: 30px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 25%;
}

.settings-nav-item {
  border-radius: 5px;
  padding: 4px 8px;
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.settings-nav-item:hover {
  background-color: white;
  color: black;
}

.settings-nav-item.selected {
  background-color: white;
  color: black;
}

.modal-close-icon {
  cursor: pointer;
}

.settings-body {
  padding: 0;
  padding-left: 20px;
  width: 75%;
  overflow-y: scroll !important;
}

.settings-body p {
  text-align: justify;
}

.modal-close-icon:hover {
  background-color: black;
}

.settings-link {
  color: #f0a110;
  text-decoration: none;
  transition: color 0.3s ease-in;
}

.settings-link:hover {
  text-decoration: underline;
  color: #dbad07;
}
